<a href="https://colab.research.google.com/github/ThousandAI/Application-of-AI/blob/main/class08/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Decision Tree**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## **讀取資料**

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class08/drug200.csv")
data.head(5)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
x = data.iloc[:,:-1]
y = np.array(data.iloc[:,-1:])
dummy_x = pd.get_dummies(x)
dummy_x

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,1,0,1,0,0,1,0
1,47,13.093,0,1,0,1,0,1,0
2,47,10.114,0,1,0,1,0,1,0
3,28,7.798,1,0,0,0,1,1,0
4,61,18.043,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
195,56,11.567,1,0,0,1,0,1,0
196,16,12.006,0,1,0,1,0,1,0
197,52,9.894,0,1,0,0,1,1,0
198,23,14.020,0,1,0,0,1,0,1
199,40,11.349,1,0,0,1,0,0,1

In [4]:
from sklearn.model_selection import train_test_split
dummy_x = np.array(dummy_x)
train_x, test_x, train_y, test_y = train_test_split(dummy_x, y, test_size=0.2, random_state=10)

print(f"train_x shape:  {train_x.shape}")
print(f"test_x shape: {test_x.shape}")

train_x shape:  (160, 9)
test_x shape: (40, 9)

## **搭建模型**

In [5]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion="entropy", max_depth = 4, random_state=10)

## **訓練模型**

In [6]:
tree.fit(train_x, train_y)

DecisionTreeClassifier(criterion='entropy', max_depth=4, random_state=10)

## **評估模型**

In [7]:
from sklearn import metrics
y_pred = tree.predict(test_x)
print("DecisionTree Accuracy: ", metrics.accuracy_score(test_y, y_pred))

DecisionTree Accuracy:  1.0